<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <!-- Bootstrap script -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- CSS script -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.css') }}">

    <!-- JavaScript script (d3.js and plotly.js) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    
    <title>Belly Button Microbiome</title>
</head>
<body style = "background-color:white;">
        <div class = "jumbotron">
            <div class = "container"> 
                <h1>{{ message }}</h1>
                <p>Do you know what lurks in your belly button? <br>The Dunn Lab explored different navels to find out.</p>
            </div>
        </div>  
            <div class = "container">      
            <div class = "row">
                    <h3>About the Belly Button Biodiversity Project</h3>
                <div class = "col-md-4">
                    <p>The belly button is teeming with microorganisms! </p>
                    <p>In 2011–2012, North Carolina State University's <a href = "http://robdunnlab.com/projects/belly-button-biodiversity/">Rob Dunn Lab</a> decided to unravel the microbiome mysteries of the navel. It swabbed the belly buttons of hundreds of  </p>
                </div>  
                <div class = "col-md-4">
                    <p>volunteers. The swabs were plated and the microorganisms were allowed to grow, providing a "portrait" of the microorganisms that live there. Then, the lab took a step further: scientists used DNA fingerprinting technology to identify the microorganisms at the species level, </p>
                </div>
                <div class = "col-md-4">
                    <p>based on the DNA sequence of the gene that expresses the 16S rRNA. Over 3600 species (OTUs) were reported in just 153 volunteers! Explore the dashboard and see the types of microorganisms that were found. Then choose a participant to figure out which microbes teeming in their belly buttons.</p>
                </div>
        </div>
        <hr>
    <div class = "container">    
        <div class = "row">
            <div class = "col-md-4" id = "select_section">
                <h3>The participants:</h3>
                <br>
                <label>More information on Participant No. </label>
                <select id = "sample">
                    <option id = "All">All</option>
                </select>
                <br>
                <br>
                <!-- Insert table containing information about the sample -->
                <table id = "sample-metadata">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id = "Sample-info"> 
                            <td class = "category">ID:</td>
                            <td class = "value" id = "id"></td>
                        </tr>
                        <tr id = "Gender">
                            <td class = "category">Gender:</td>
                            <td class = "value" id = "gender"></td>
                        </tr>
                        <tr id = "Age">
                            <td class = "category">Age (yrs):</td>
                            <td class = "value" id = "age"></td>
                        </tr>
                        <tr id = "BBtype">
                            <td class = "category">BB Type:</td>
                            <td class = "value" id = "bbtype"></td>
                        </tr>
                        <tr id = "Address">
                            <td class = "category">Address:</td>
                            <td class = "value" id = "location"></td>
                        </tr>
                        <tr id = "Event">
                            <td class = "category">Event:</td>
                            <td class = "value" id = "sampling-event"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class = "col-md-8">
                <h3>The common belly button microorganisms</h3>
                <p>This project revealed that Gram-positive bacteria were the most common inhabitants of the belly button. </p>
                <div class = "row">
                    <div class = "col-md-6">
                        <h4><em>Staphylococcus</em></h4>
                        <p><i>Staphylococcus</i> is a genus of round-shaped bacteria. It is commonly found in skin, hair, noses, and throats of healthy people. A clinically important member of the genus is <a href = "https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4451395/"><i>S. aureus</i></a>, which is associated with pneumonia, heart ailments, bone and joint infections, and skin abscesses.</p>
                    </div>
                    <div class = "col-md-6">
                        <h4><em>Corynebacterium</em></h4>
                        <p><i>Corynebacterium</i> is a group of bacteria that are normal constituents of the human microbial ecosystem. These commonly live in the skin, mucous membranes, and the gastrointestinal tract. Thriving in aerobic conditions, this bacterial group is known as a main contributor to <a href = "https://academic.oup.com/femsec/article/89/1/198/2680466">axillary odor</a>. </p>
                    </div>
                </div>
                <div class = "row">  
                    <div class = "col-md-6">
                        <h4><em>Anaerococcus</em></h4>
                        <p><i>Anaerococcus</i> thrives in environments that lack oxygen. It is a known <a href = "https://www.liebertpub.com/doi/full/10.1089/sur.2017.100">pathogen</a>, being isolated from diabetic foot infections and abscesses. However, it is also deemed a normal part of the human microflora. </p>
                    </div>
                    <div class = "col-md-6">
                        <h4><em>Peptoniphilus</em></h4>
                        <p><i>Peptoniphilus</i> is a group of bacteria that uses peptone (which contains amino acids derived from partial degradation of proteins), rather than carbohydrates, as its major energy source. </p>
                    </div>
                </div>  
            </div>
        </div>  
        <hr>  
        <div class = "row">    
            <div class = "col-md-6">
                <div id = "pie"></div>
            </div>
            <div class = "col-md-6">
                <div id = "bubble"></div>
            </div>
        </div>
        <hr>
        <div class = "row">
            <h3>Summary stats</h3>
            <p>Let's have a closer look at the trends concerning the participants...</p>
        </div>    
        <div class = "row">
            <div class = "col-md-4" >
                <div id = "hist_age"></div>
            </div>
            <div class = "col-md-4">
                <div id = "bar_gender"></div>
            </div>
            <div class = "col-md-4">
                <div id = "hist_wash"></div>
            </div>
        </div>
        <div class = "row">
            <div class = "col-md-4" >
                <div id = "bar_event"></div>
            </div>
            <div class = "col-md-4" >
                <div id = "bar_ethnicity"></div>
            </div>
            <div class = "col-md-4" >
                <div id = "corr"></div>
            </div>
        </div>    
            
        
    </div>
    <!-- More JavaScript and CSS script -->
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>