<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <!-- Bootstrap script -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- JavaScript script (d3.js and plotly.js) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <title>Belly Button Microbiome</title>
</head>
<body>
    <div class = "container">
        <div class = "row">
            <h1>{{ message }}</h1>
        </div>
        <div class = "row">
            <div class = "col-md-4">
                <label>Select a sample:</label>
                <br>
                <select id = "sample"></select>
                <br>
                <!-- Insert table containing information about the sample -->
                <p>Some information about the participants</p>
                <table id = "sample-metadata">
                    <thead>
                        <tr>
                            <th>Category</th>
                            <th>Participant Information</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id = "Sample-info"> 
                            <td class = "category">Participant ID:</td>
                            <td class = "value" id = "id"></td>
                        </tr>
                        <tr id = "Gender">
                            <td class = "category">Participant Gender:</td>
                            <td class = "value" id = "gender"></td>
                        </tr>
                        <tr id = "Age">
                            <td class = "category">Participant Age (yrs):</td>
                            <td class = "value" id = "age"></td>
                        </tr>
                        <tr id = "BBtype">
                            <td class = "category">Participant BB Type:</td>
                            <td class = "value" id = "bbtype"></td>
                        </tr>
                        <tr id = "Address">
                            <td class = "category">Participant Address:</td>
                            <td class = "value" id = "location"></td>
                        </tr>
                        <tr id = "Event">
                            <td class = "category">Sampling Event:</td>
                            <td class = "value" id = "sampling-event"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class = "col-md-6">
                <div id = "pie"></div>
            </div>
        </div>
    </div>
    <!-- More JavaScript and CSS script -->
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <script src="{{ url_for('static', filename='css/main.css') }}"></script>
</body>
</html>